.title-head{
    text-align: center;
    opacity: 5;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
color: ghostwhite;

}
.title-p{
    text-align: center;
    opacity: 5;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
margin-bottom: 16px;margin-top: 16px;
color: ghostwhite;
}
.container{
    background-image: url('resources/banner.png');background-repeat: no-repeat;background-position:top center ;width: width: 700px;height: 530px;padding: 150px;
    
    



    
}    

