.title-head{
    text-align: center;
    font-size: 32px;font-weight: 400;
      font-family: Merriweather;
   white;
color: #FFF;margin-bottom: 16px;}

.title-p{
    text-align: center;
    color: #FFF;
font-size: 72px; 
font-style: normal;
font-weight: 900;
margin-top: 16px;
}
.abc{
    margin-top: 10px;color:#FFF;
}






